In [8]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [9]:
#recebendo o csv
df = pd.read_csv('Pokemon.csv',encoding = 'ISO-8859-1')

In [10]:
#formato do DataSet
np.shape(df)

(1072, 13)

In [11]:
#colunas usadas
df.columns

Index(['number', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'generation', 'legendary'],
      dtype='object')

In [12]:
#Coloca o atributo TOTAL após os atributos básicos
df = df.loc[:,['number', 'name', 'type1', 'type2', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'total', 'generation', 'legendary']]

#Renomeia as colunas
colunas = {'number':"Número",
           'name':'Nome',
           'type1':'Tipo 1',
           'type2':'Tipo 2',
           'hp':'Vida',
           'attack':'Ataque',
           'defense':'Defesa',
           'sp_attack':'Atq. especial',
           'sp_defense':'Def. especial',
           'speed':'Velocidade',
           'total':'Total',
           'generation':'Geração',
           'legendary':'Lendário?'}
df = df.rename(columns=colunas)
df.head(10)

,Número,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defesa,Atq. especial,Def. especial,Velocidade,Total,Geração,Lendário?
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
5,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
6,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False
7,6,Charizard,Fire,Flying,78,84,78,109,85,100,534,1,False
8,6,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
9,6,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False

In [13]:
#Checa se há valores nulos
df.isnull().any()

Número           False
Nome             False
Tipo 1           False
Tipo 2            True
Vida             False
Ataque           False
Defesa           False
Atq. especial    False
Def. especial    False
Velocidade       False
Total            False
Geração          False
Lendário?        False
dtype: bool

In [14]:
#Checa se há valores NaN
df.isna().any()

Número           False
Nome             False
Tipo 1           False
Tipo 2            True
Vida             False
Ataque           False
Defesa           False
Atq. especial    False
Def. especial    False
Velocidade       False
Total            False
Geração          False
Lendário?        False
dtype: bool

In [15]:
#Conserta a coluna do tipo 2 em casos do pokémon não haver um segundo tipo 
df.fillna({'Tipo 2':df['Tipo 1']},inplace = True)
df.head(10)

,Número,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defesa,Atq. especial,Def. especial,Velocidade,Total,Geração,Lendário?
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
5,4,Charmander,Fire,Fire,39,52,43,60,50,65,309,1,False
6,5,Charmeleon,Fire,Fire,58,64,58,80,65,80,405,1,False
7,6,Charizard,Fire,Flying,78,84,78,109,85,100,534,1,False
8,6,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
9,6,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False

In [16]:
#Verifica se ainda há valores NaN após a limpeza
df.isna().any()

Número           False
Nome             False
Tipo 1           False
Tipo 2           False
Vida             False
Ataque           False
Defesa           False
Atq. especial    False
Def. especial    False
Velocidade       False
Total            False
Geração          False
Lendário?        False
dtype: bool

In [17]:
#Média dos atributos
colunas = ['Vida','Ataque','Defesa','Atq. especial','Def. especial','Velocidade',"Total"]
print('Média dos atributos: ')
round(df[colunas].mean(),2)

Média dos atributos:

Vida              70.49
Ataque            80.94
Defesa            74.97
Atq. especial     73.27
Def. especial     72.48
Velocidade        68.79
Total            440.89
dtype: float64

In [ ]:
#Contagem de cada tipo de pokemon
Tipos = ['Normal','Fire','Water','Grass','Flying','Fighting','Poison','Electric','Ground','Rock','Ice','Bug','Psychic','Ghost','Steel','Dragon','Dark','Fairy']
for tipo in Tipos:
       filtragem = (df['Tipo 1'] == tipo) | (df['Tipo 2'] == tipo)
       print(f'Há {filtragem.sum()} pokemons com o tipo {tipo}')

Há 128 pokemons com o tipo Normal
Há 85 pokemons com o tipo Fire
Há 158 pokemons com o tipo Water
Há 123 pokemons com o tipo Grass
Há 123 pokemons com o tipo Flying
Há 77 pokemons com o tipo Fighting
Há 83 pokemons com o tipo Poison
Há 74 pokemons com o tipo Electric
Há 81 pokemons com o tipo Ground
Há 76 pokemons com o tipo Rock
Há 57 pokemons com o tipo Ice
Há 93 pokemons com o tipo Bug
Há 123 pokemons com o tipo Psychic
Há 69 pokemons com o tipo Ghost
Há 75 pokemons com o tipo Steel
Há 76 pokemons com o tipo Dragon
Há 76 pokemons com o tipo Dark
Há 67 pokemons com o tipo Fairy

In [ ]:
df.to_csv('Dataframe.csv', index=False, encoding='utf-8')